celery==4.4.2
dj-database-url==0.5.0
dj-static==0.0.6
django-celery-results==1.2.1
django-extensions==3.1.0
asgiref==3.5.2
Django==3.2.14
flower==0.9.7
gunicorn==20.0.4
psycopg2-binary==2.9.3
pusher==3.0.0
python-decouple==3.4
redis==3.5.3
pytz==2022.1
sqlparse==0.4.2
pre-commit==2.20.0
djangorestframework==3.13.1
djangorestframework-simplejwt==5.2.0
django-redis
